@import "tailwindcss";
@import "flowbite/src/themes/default"; 
@import "./typography.css";
@import "./fonts.css";
/* @import "./daisy.css"; */
/* @import "tw-animate-css"; */

@plugin "flowbite/plugin";

@source "../../node_modules/flowbite";

@custom-variant dark (&:where(.dark, .dark *));

:root,
html {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;

  /* Lobster */
  /* --background: #f6eee1;
  --foreground: #012c56;
  --accent: #e14a39;
  --muted: #efd8b0;
  --border: #dc9891; */

  /* Leaf Blue */
  /* --background: #f2f5ec;
  --foreground: #353538;
  --accent: #1158d1;
  --muted: #bbc789;
  --border: #7cadff; */

  /* Pinky light */
  /* --background: #fafcfc;
  --foreground: #222e36;
  --accent: #d3006a;
  --muted: #f1bad4;
  --border: #e3a9c6; */

}

html&.dark {
  /* --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60bf;
  --border: #ab4b08; */

  --background: #21233d;
  --foreground: #f4f7f5;
  --accent: #ff5256;
  --muted: #4a4e86;
  --border: #b12f32;
}

@theme {
  --color-primary-50: #eff6ff;
  --color-primary-100: #dbeafe;
  --color-primary-200: #bfdbfe;
  --color-primary-300: #93c5fd;
  --color-primary-400: #60a5fa;
  --color-primary-500: #3b82f6;
  --color-primary-600: #2563eb;
  --color-primary-700: #1d4ed8;
  --color-primary-800: #1e40af;
  --color-primary-900: #1e3a8a;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}
a {
  text-decoration: none;
  font-family: "AlibabaPuHuiTi-Regular";
  /* color: var(--color-accent); */
}
@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    /* @apply overflow-y-scroll scroll-smooth; */
    scrollbar-gutter: stable;
  }

  /* 自定义滚动条样式，去除上下箭头 */
  ::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
  }
  ::-webkit-scrollbar {
    width: 6px;
  }

  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--color-muted);
    border-radius: 10px;
  }

  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  
  footer {
    @apply mx-auto max-w-3xl px-4;
  }
  .font-alibaba-puhuiti-thin {
    font-family: 'AlibabaPuHuiTi-Thin';
  }
  .font-alibaba-puhuiti {
    font-family: 'AlibabaPuHuiTi-Regular';
  }
  .font-alibaba-puhuiti-bold {
    font-family: 'AlibabaPuHuiTi-Bold';
  }
  .font-alibaba-puhuiti-black {
    font-family: 'AlibabaPuHuiTi-Black';
  }
  .font-alimama-agilevf {
    font-family: 'AlimamaAgileVF-Thin';
  }
  .font-alimama-dongfangdakai {
    font-family: 'AlimamaDongFangDaKai';
  }
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}
