@import "tailwindcss";
@import "./typography.css";
@import "./fonts.css";

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  --background: #fdfdfd;
  --foreground: #282728;
  --accent: #006cac;
  --muted: #e6e6e6;
  --border: #ece9e9;
  --un-preset-theme-colors-shadow: 0 0 0;
  --un-preset-theme-colors-shadow--alpha: .04;
  --un-preset-theme-colors-background: 255 255 255;
  --un-preset-theme-colors-primary: 46 64 91;
  --uno-colors-shadow: rgb(var(--un-preset-theme-colors-shadow)/var(--un-preset-theme-colors-shadow--alpha, 1));
  background-image: linear-gradient(to right,var(--uno-colors-shadow) 1px,transparent 1px),linear-gradient(to bottom,var(--uno-colors-shadow) 1px,transparent 1px)
}

html[data-theme="dark"] {
  --background: #212737;
  --foreground: #eaedf3;
  --accent: #ff6b01;
  --muted: #343f60bf;
  --border: #ab4b08;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}
a {
  text-decoration: none;
  color: inherit;
}
@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-3xl px-4;
  }
  .font-alibaba-puhuiti-thin {
    font-family: 'AlibabaPuHuiTi-Thin';
  }
  .font-alibaba-puhuiti {
    font-family: 'AlibabaPuHuiTi-Regular';
  }
  .font-alibaba-puhuiti-bold {
    font-family: 'AlibabaPuHuiTi-Bold';
  }
  .font-alibaba-puhuiti-black {
    font-family: 'AlibabaPuHuiTi-Black';
  }
  .font-alimama-agilevf {
    font-family: 'AlimamaAgileVF-Thin';
  }
  .font-alimama-dongfangdakai {
    font-family: 'AlimamaDongFangDaKai';
  }
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}
